<VirtualHost managed1.ansible.local:443>
	ServerName managed1.ansible.local
	DocumentRoot /var/www/html/ansible
	SSLEngine on
	SSLCertificateFile /etc/httpd/conf.d/ssl/server.crt
	SSLCertificateKeyFile /etc/httpd/conf.d/ssl/server.key
</VirtualHost>